// Create grayscale
$gray1:             #B2B2B2;
$gray2:             #41434F;
// $gray3:             #757474;
// $gray4:             #f9f8f8;
// $gray5:             #141414;
// $gray6:             #0c0c0c;
// $gray7:             #c9c9c9;

// Reassign color vars to semantic color scheme
$brand-primary:             #2574F2;
$brand-primary1:            #1bc5ff;
$brand-secondary:           #467dc0;
$icomoon-font-path:"../fonts";