$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-menu: "\e9bd";
$icon-arrow-right2: "\ea3c";
$icon-arrow-left2: "\ea40";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";

